.hover-underline-animation {
    display: inline-block;
    position: relative;
   
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: 
  #72E2AE;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.glossy{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.05);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.4px);
-webkit-backdrop-filter: blur(9.4px);
border: 1px solid rgba(255, 255, 255, 0.31);
}
